<div fxFlex="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="header" *ngIf="sidenav != undefined">
<!--   <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button> -->

  <div class="title-container">
    <h2 class="title">NEW ADMISSION</h2>
    <h3 class="breadcrumb">Register / New Admission</h3>
  </div>

  <div class="right-header-container" fxLayoutGap="10px">
    <mat-icon>notifications</mat-icon>
    <button class="user-btn">VIACREDI</button>
    <div class="profile-pic">
      <img class="logo-img" src="assets/icons/logo_ailos.svg" alt="">
    </div>
  </div>

</div>
