@import "src/app/shared/variables/variables.scss";

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.sidenav-container {
  height: 100%;
  background-color: $main-color;
  color: white;
  padding-top: 8px;
}

.list-item {
  width: fit-content;
  margin: 0 0 0 11px;
  color: white;
}

.menu-item-icon {
  margin-right: 13px;
}

.logo {
  margin: 0 0 0 3px;
}

.menu-item-text {
  height: 24px;
  margin-top: 4px;
}
